#game-container{
  position: relative;
}

canvas{
  /* min-width: 100%; */
  max-width: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

/* #brick-break-counter{
  width: 20%;
  height: 2%;
  display: block;
  position: absolute;
  background-color: black;
} */

/* #background-canvas{
  background-color: aqua;
  z-index: -1;
} */


